In [67]:
conda install scikit-learn

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

Retrieving notices: ...working... done

Note: you may need to restart the kernel to use updated packages.

==> WARNING: A newer version of conda exists. <==
  current version: 22.9.0
  latest version: 23.3.1

Please update conda by running

    $ conda update -n base -c defaults conda

In [1]:
#import necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [2]:
#read and asign the excel file
df = pd.read_csv('stroke-data.csv')

In [3]:
#check what are the datas in excel file
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [4]:
#check the information about the data sets
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [5]:
#check which columns have null values
df.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [6]:
#add median value for null values
df['bmi'].fillna(df['bmi'].median(), inplace = True)

In [7]:
df.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [8]:
#check which type of datas in the columns
df['gender'].value_counts()

Female    2994
Male      2115
Other        1
Name: gender, dtype: int64

In [23]:
#change categorical data to numerical data
convert = {"gender": {"Female": 0, "Male": 1, "Other": 2}}

In [24]:
#replace the new data to the existing dataset
df = df.replace(convert)

In [11]:
df['ever_married'].value_counts()

Yes    3353
No     1757
Name: ever_married, dtype: int64

In [12]:
df['work_type'].value_counts()

Private          2925
Self-employed     819
children          687
Govt_job          657
Never_worked       22
Name: work_type, dtype: int64

In [13]:
df['Residence_type'].value_counts()

Urban    2596
Rural    2514
Name: Residence_type, dtype: int64

In [14]:
df['smoking_status'].value_counts()

never smoked       1892
Unknown            1544
formerly smoked     885
smokes              789
Name: smoking_status, dtype: int64

In [18]:
convert = {"ever_married": {"Yes": 0, "No": 1},
           "work_type": {"Private": 0, "Self-employed": 1, "children": 2, "Govt_job": 3, "Never_worked": 4},
           "Residence_type" : {"Urban": 0, "Rural": 1},
           "smoking_status" : {"never smoked": 0, "Unknown": 1, "formerly smoked": 2, "smokes": 3},
          }

In [19]:
df = df.replace(convert)

In [25]:
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,1,67.0,0,1,0,0,0,228.69,36.6,2,1
1,51676,0,61.0,0,0,0,1,1,202.21,28.1,0,1
2,31112,1,80.0,0,1,0,0,1,105.92,32.5,0,1
3,60182,0,49.0,0,0,0,0,0,171.23,34.4,3,1
4,1665,0,79.0,1,0,0,1,1,174.12,24.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,0,80.0,1,0,0,0,0,83.75,28.1,0,0
5106,44873,0,81.0,0,0,0,1,0,125.20,40.0,0,0
5107,19723,0,35.0,0,0,0,1,1,82.99,30.6,0,0
5108,37544,1,51.0,0,0,0,0,1,166.29,25.6,2,0
5109,44679,0,44.0,0,0,0,3,0,85.28,26.2,1,0

In [26]:
#devide the data features and label
xc=['gender', 'age', 'hypertension', 'heart_disease', 'ever_married', 'work_type', 'Residence_type', 'avg_glucose_level', 'bmi', 'smoking_status']
y=['YES', 'NO']
all_inputs = df[xc]
all_classes = df['stroke']

In [68]:
#allocate how much data to be train
(x_train, x_test, y_train, y_test) = train_test_split(all_inputs, all_classes, train_size= 0.7)

In [69]:
#use random forest method
clf = RandomForestClassifier(n_estimators=100, max_depth=5)

In [70]:
#train the model
clf.fit(x_train, y_train)

RandomForestClassifier(max_depth=5)

In [72]:
#check the accuracy output
score = clf.score(x_test, y_test)
print("Accuracy:",score)

Accuracy: 0.9569471624266145